#header {
  height: 230px;
  background: url(../images/photo.jpg) center /cover;
}

table {
  margin-bottom: 20px;
}

table, .mdl-card, .mdl-textfield {
  width: 100%;
}

.td_principal{
  text-align: center !important;
  font-weight: bold;
}

.txt-inicial{
  padding:15px;
}